@charset "UTF-8";


body{ background-color: rgb(130, 247, 247); color: rgb(152, 220, 247);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; 
}
h1{color: rgb(3, 3, 255);}
h2{color: rgb(33, 143, 245);}
p{text-align: justify; color: black;}

